---
import Layout from "../components/Layout.jsx";
// import Header from "../components/Header.jsx";
import Main from "../components/Main.jsx";
import CVSection from "../components/CVSection.jsx";
import ProjectsSection from "../components/ProjectsSection.jsx";
import TechStackSection from "../components/TechStackSection.jsx";
import Footer from "../components/Footer.jsx";
import CookieBanner from "../components/CookieBanner.jsx";

import "../styles/global.css";
---

<Layout title="Jamie's Portfolio">
	<div
		class="relative flex size-full min-h-screen flex-col bg-neutral-50 group/design-root overflow-x-hidden"
	>
		<div class="layout-container flex h-full grow flex-col">
			<!-- <Header client:visible /> -->
			<section id="home">
				<Main client:load />
			</section>

			<section id="cv">
				<TechStackSection client:visible />
				<CVSection client:visible />
			</section>

			<section id="projects">
				<ProjectsSection client:visible />
			</section>

			<section id="contact">
				<Footer client:visible />
			</section>
		</div>
	</div>
</Layout>
